body{
    font-family:  Tahoma;
    font-style: white;
    background-color: #b3b3b3;
}
.form-control.one{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    margin-right: 0.1rem;
}
.form-control.two{
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-right: 0.1rem;
}
.btn.btn-outline-primary.three{
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}
b{
    color: white;
}
a.nav-link.active{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 12%, rgba(9,9,121,0) 100%);
}
nav{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 50%, rgba(2,0,36,1) 100%);
}
ul.dropdown-menu.show{
    background: rgb(0,212,255);
    background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(9,9,121,1) 50%, rgba(2,0,36,1) 100%);
}
.nav-link:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 12%, rgba(9,9,121,0) 100%);
    transition: 0.4s;
}
.dropdown-item:hover{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 12%, rgba(9,9,121,0) 100%);
    transition: 0.4s;
}
::after{
    color: white;
}
::placeholder{
    font-size: 15px;
}